<!DOCTYPE html>
<html>
  <%- include('../partials/head.ejs')%>
  <body>
    <%- include('../partials/navLogReg.ejs')%>
    <div class="login-page">
      <div class="form">
        <form class="register-form">
          <input type="text" placeholder="Username" />
          <input type="password" placeholder="Password" />
          <input type="text" placeholder="Email address" />
          <button>Create</button>
          <p class="message">Already registered? <a href="/login">Sign In</a></p>
        </form>
      </div>
    </div>
  </body>
</html>
