<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>VLOG | <%= title %></title>
  <link rel="stylesheet" href="/style.css">
  <!-- it will not link it will give 404 errr -->

</head>
