<!-- <nav>
     <div class="site-title">
            <a href="/"><h1>Blog app</h1></a>
          <p>A blogging website</p>
     </div>
     <div class="nav">
          <ul>
               <li><a href="/">Blogs</a></li>
               <li><a href="/about">About Us</a></li>
               <li><a href="/blogs/create">New Blogs</a></li>
          </ul>
     </div>
     
</nav> -->
<nav class="navbar bg-light border-bottom border-1 border-secondary">
  <div class="d-flex justify-content-between align-items-center">
    <div class="ms-4 fs-4">
      <i class="bi bi-list"></i>
    </div>
    <div class="ms-5 me-auto">
      <h2>BLOGGER</h2>
    </div>
    <div class="ms-auto">
      <i class="bi bi-bell"></i>
      <i class="bi bi-person-circle"></i>
    </div>
    <div><i class="bi bi-pencil-square"></i> Write</div>
  </div>
</nav>
