<!-- <nav>
     <div class="site-title">
            <a href="/"><h1>Blog app</h1></a>
          <p>A blogging website</p>
     </div>
     <div class="nav">
          <ul>
               <li><a href="/">Blogs</a></li>
               <li><a href="/about">About Us</a></li>
               <li><a href="/blogs/create">New Blogs</a></li>
          </ul>
     </div>
     
</nav> -->
<nav class="navbar bg-light border-bottom border-1 border-secondary w-100">
  <div class="center navItems p-1" style="width: 100%">
    <div class="center" style="width: 4%">
      <i class="fs-3 bi bi-list"></i>
    </div>

    <div class="center fs-2 fw-bold" style="width: 60%"><a href="/blogs">BLOGGER</a></div>
    <div class="center-ver justify-content-end pe-5" style="width: 36%">
      <i class="bi bi-bell fs-5 me-3"></i>
      <div class="center border-c ms-3 me-3" style="width: 8%; aspect-ratio: 1/1">
        <i class="bi bi-person-circle fs-5"></i>
      </div>
      <a href="/blogs/create">
        <div class="ms-3 me-2 center border-r p-1"><i class="bi bi-pencil-square me-1"></i> Write</div>
      </a>
    </div>
  </div>
</nav>
