<nav class="navbar bg-light border-bottom border-1 border-secondary w-100">
  <div class="center navItems p-1" style="width: 100%">
    <a href="/login">
      <div class="center border-r ms-4 fs-6 fw-bold log-pad">
        <i class="bi bi-person-circle me-1 fs-5"></i>
        <div class="center" id="profile">Login</div>
      </div>
    </a>
    <div class="center border-r ms-4 fs-6 fw-bold log-pad" id="logout" style="cursor: pointer" onclick="LogoutHandle()">
      Logout
    </div>
    <div class="center fs-2 fw-bold" style="width: 60%"><a href="/blogs">BLOGGER</a></div>
    <div class="center-ver justify-content-end pe-5" style="width: 36%">
      <i class="bi bi-bell fs-5 me-3"></i>

      <a href="/blogs/create">
        <div class="ms-3 me-2 center border-r p-1 ps-2 pe-2"><i class="bi bi-pencil-square me-1"></i> Write</div>
      </a>
    </div>
  </div>
</nav>
<script>
  const profile = document.getElementById("profile");
  const logout = document.getElementById("logout");
  const user = JSON.parse(localStorage.getItem("user"));
  if (user) {
    profile.innerHTML = `${user.username}`;
  } else {
    logout.style.display = "none";
  }

  function LogoutHandle() {
    localStorage.removeItem("user");
    location.replace("/blogs");
  }
</script>
