<nav class="navbar bg-light border-bottom border-1 border-secondary w-100">
  <div class="center navItems p-1" style="width: 100%">
    <div class="center fs-2 fw-bold" style="width: 60%"><a href="/blogs">BLOGGER</a></div>
  </div>
</nav>
