/* Materialize CSS */
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
.btn {
	background-color: #26a69a;
}
.btn:hover {
	background-color: #2bbbad;
}

/* Custom CSS */
.container {
	margin-top: 50px;
}
