<!DOCTYPE html>
<html lang="en">
     <%- include('./partials/head.ejs')%>

<body>
     <%- include('./partials/nav.ejs')%>
<div class="About content">
     <h2>About us</h2>
     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, a dolores, facilis qui assumenda provident veritatis quos, mollitia laboriosam vero id? Provident quam obcaecati saepe? Voluptatem aliquid praesentium minima dignissimos!</p>
     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae debitis fugiat sequi libero aliquid corporis voluptas ipsam facilis autem consectetur fuga est, maiores ullam. Nobis, illo error. Error, ducimus quo!</p>
     <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iure necessitatibus iusto ratione quis consequatur nihil blanditiis incidunt quos odit eaque cumque explicabo facere vitae quibusdam asperiores non ad, nisi debitis!</p>
</div>
<%- include('./partials/footer.ejs')%>
</body>
</html>